@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'nb-thin';
  src: url('./Fonts/nb-international-pro-light.otf');
}

@font-face {
  font-family: 'nb-regular';
  src: url('./Fonts/nb-international-pro-regular.otf');
}