@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 200%;
  animation: marquee 40s linear infinite;
}


html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'nb-thin';
  src: url('./Fonts/nb-international-pro-light.otf');
}

@font-face {
  font-family: 'nb-regular';
  src: url('./Fonts/nb-international-pro-regular.otf');
}

@font-face {
  font-family: 'inter';
  src: url('./Fonts/inter_n4.b2a3f24c19b4de56e8871f609e73ca7f6d2e2bb9.woff2');
}

@font-face {
  font-family: 'roc';
  src: url('./Fonts/Roc\ Grotesk\ Condensed\ Bold.woff2');
}